# Streamlit
streamlit==1.24.0

# Ultralytics YOLOv5 and its dependencies
ultralytics==8.0.136

# Py-cpuinfo (for CPU information)
py-cpuinfo

# Pillow for image processing (required by YOLOv5)
Pillow==9.4.0

# PyTorch (YOLOv5 requires PyTorch, ensure compatibility with your system)
torch==2.1.0
